html {
    height: 100%;
}
body{
    background: #ffe5ff;
    height: 100%;
}
.list{
    background: thistle;
    background-size: 100%;
    min-height: 100%;
}
.list__header{
    text-align: center;
}
.list__header__image{
    height: 300px;
    padding: 20px;
    margin: 5px;
    border: 3px solid white;
    background: #bfb0c2;
}
.list__header__title{
    font-family: fantasy;
    font-size: 450%;
}
.list__main{
    font-family: serif;
    font-size: 150%;
    text-align: left;
    width: 356px;
    height: auto;
    background: #f7d6ff;
    margin-left: auto; /*для выравнивания блока по центру*/
    margin-right: auto; /*для выравнивания блока по центру*/
    position: relative;
}
.list__main__input{
    background: #879dd9;
    width: 330px;
    height: 30px;
    border: 3px dashed #6176a4;
    margin-left: inherit; /*для выравнивания блока по центру*/
    margin-right: inherit; /*для выравнивания блока по центру*/
    padding: 0 0 0 20px;
    font-size: 100%;
}
.list__main__placeholder{
    margin: -1.5em 0 0 0;/*подтянули по высоте ровно на input*/
    width: 330px;
    height: 30px;
    border: 3px groove rgba(255, 249, 248, 0.79);
    padding: 0 0 0 20px;
    font-family: "Adobe Clean";
}
.list__main__add {
    height: 30px;
    width: 50px;
    text-align: right;
    vertical-align: middle;
    left: 370px;
    top: -1px;
    position: absolute;
    cursor: pointer;
}
.list__main__checkAll{
    height: 40px;
    width: 40px;
    text-align: right;
    vertical-align: middle;
    left: -50px;
    top: -1px;
    position: absolute;
    cursor: pointer;
}
.list__main__itemsContainer{
    width: auto;
    border: 3px solid lightgrey;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.list__main__itemsContainer__items{
    padding: 5px 0 5px 0;
    border: 1px solid rgba(211, 211, 211, 0.53);
    color: #506592;
}
[id^="checkbox"] {
    cursor: pointer;
}
[id^="checkbox"]:checked + label{
    color: rgba(80, 101, 146, 0.36);
    text-decoration: line-through;
}
.list__main__itemsContainer__items__removeButtons{
    position: absolute;
    font-size: 110%;
    color: #e9aad2;
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    cursor: pointer;
    right: 10px;
    font-style: italic;
}
.list__main__footerContainer{
    background: #879dd9;
    width: 345px;
    height: 80px;
    border: 3px dashed #6176a4;
    margin-left: inherit; /*для выравнивания блока по центру*/
    margin-right: inherit; /*для выравнивания блока по центру*/
    padding: 0 0 0 5px;
    font-family: serif;
    font-size: 100%;
}
.list__main__footerContainer__content{
    margin: 5px 0 0 0;
    font-family: "Adobe Clean";
}

.list__main__footerContainer__Buttons {
    position: relative;
    overflow: hidden;
    height: 25px;
    z-index: 1;
    padding: 0 7px 0 7px;
    margin: 15px 5px;
    font-family: serif;
    font-weight: 300;
    line-height: 25px;
    color: rgba(0, 0, 0, 1);
    font-size: 11px;
    text-transform: uppercase;
    background: #bac1fa;
    border: 2px double rgb(134, 134, 181);
    /*border-width: 0;*/
    /*box-shadow: 1px 1px 0 #532831;*/
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    transition: 1.5s;
}
.list__main__footerContainer__Buttons:before,
.list__main__footerContainer__Buttons:after {
    content: "";
    position: absolute;
    height: 200px;
    left: -50%;
    margin-top: -100px;
    top: 50%;
    width: 200px;
    border-radius: 50%;
    opacity: 0.3;
    z-index: -1;
    transform: scale(0);
}
.list__main__footerContainer__Buttons:before {
    background: #ffeede;
    transition: .8s ease-out;
}
.list__main__footerContainer__Buttons:after {
    transition: .4s ease-in .3s;
}
.list__main__footerContainer__Buttons:hover {
    color: #532831;
}
.list__main__footerContainer__Buttons:hover:before,
.list__main__footerContainer__Buttons:hover:after{
    opacity: 1;
    transform: scale(4);
}
.selectedButton{
    background: #8686b5;
    border: 2px double rgba(104, 104, 142, 0.73);
    /*background: #ffd0eb;*/
    /*border: 2px double rgba(174, 94, 125, 0.73);*/
}
.hidden{
    display: none;
}
.shown{
    display: block;
}
